<div id="leftSide">
    <div class="logo"><a href="index.html"><img src="/assets/images/logo.png" alt=""/></a></div>

    <div class="sidebarSep mt0"></div>

    <!-- Next update progress widget -->
    <div class="nextUpdate">
        <ul>
            <li>Next update in:</li>
            <li>23 hrs 14 min</li>
        </ul>
        <div class="pWrapper">
            <div class="progressG" title="78%"></div>
        </div>
    </div>

    <div class="sidebarSep"></div>

    <!-- Left navigation -->
    <ul id="menu" class="nav">
        <li class="dash"><a href="./admin" title="" class="active"><span>Dashboard</span></a></li>
        <li class="ui"><a href="#" title="" class="exp"><span>Users</span></a>
            <ul class="sub">
                <li><a href="#" title="">Add User</a></li>
                <li><a href="#" title="">List Users</a></li>
            </ul>
        </li>

    </ul>
</div>